<%- include('../partials/header'); %>

<main class="main main-home">
    <h2 class="home-header">
        Single Health Page
    </h2>
        <p><%= item.long_name%></p>
        <p><%= item.short_name %></p>
        <p><%= item.id%></p>
</main>

<%- include('../partials/footers'); %>